# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# subgraph
packages/subgraph/graph-node/data/
packages/subgraph/generated/
packages/subgraph/build/
packages/nextjs/.graphclient/
